* {
  margin: 0;
  padding: 0;
}

.header {
  height: 10vh;
  background: #5a21ce;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 0 0 4vh;
  font-weight: 600;
}

.main-container {
  padding: 4vh 0 0 10vh;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 12vw;
  height: 15vh;
  justify-content: space-around;
}

:is(.search-container input[type='text'], .count
    input[type='number'], :is(.count, .item) button) {
  border-color: #5a21ce;
  outline: none;
  height: 4vh;
  padding: 0 0 0 1vh;
  border-radius: 5px;
}

.food-container {
  display: flex;
  justify-content: space-between;
  width: 94%;
}

.left {
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.fruit {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ced6ce;
  padding: 3vh;
  border-radius: 8px;
  border: 2px solid #5a21ce;
  margin: 0 0 3vh 0;
}

.fruit img {
  height: 10vh;
  width: 5vw;
}

.detail h4 {
  font-weight: 400;
}

.right {
  width: 47%;
}

.item {
  padding: 4vh 0 0 16vh;
  width: 19vw;
  display: flex;
  justify-content: space-between;
  font-size: larger;
}

:is(.count, .item) button {
  width: 2vw;
  text-align: start;
  background: #5a21ce;
  color: white;
}
